@import url("https://fonts.googleapis.com/css2?family=Krona+One");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

:root {
    --primary: #9747FF;
    --grey: #E6E4E4;
    --dark-grey: #747474;
    --black: #000000;
    --light: #FFFFFF;
    --sidebar-width: 300px;
    --opaque-grey: rgba(230, 228, 228, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Krona One", sans-serif;
}

.app {
    display: flex;
    font-family: "Krona One", sans-serif;
}

body {
    min-height: 100%;
}

h1 {
    font-size: 16px;
}

button {
    cursor: pointer;
    appearance: none;
    border: none;
    outline: none;
    background: none;
}
